@import "../bower_components/bootstrap-datepicker/build/build3.less";

@grid-gutter-width:         30px;
@padding-base-horizontal:   12px;
@padding-base-vertical:     6px;
@screen-md:                 992px;
@screen-md-min:              @screen-md;
@screen-sm:                 768px;
@screen-sm-min:              @screen-sm;
@screen-sm-max:             (@screen-md-min - 1);
@screen-xs-max:             (@screen-sm-min - 1);

.form-datepicker {
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: (@grid-gutter-width / 2);
	margin-top: (@grid-gutter-width / 2);
	:-moz-placeholder {color: #999;}
	:-ms-input-placeholder {color: #999;}
	::-moz-placeholder {color: #999;}
	::-webkit-input-placeholder {color: #999;}
	.form-group {
		background-color: #ddd;
		padding: 5px;
		> div {
			padding: (@grid-gutter-width / 6) (@grid-gutter-width / 4);
			.btn,
			.input-group-addon,
			input,
			select {
				background-color: #fff;
				border-radius: 0;
				border: 0;
				box-shadow: none;
				color: #999;
				cursor: pointer !important;
				font-size: 0.75em;
				letter-spacing: 2px;
				padding: @padding-base-vertical (@padding-base-horizontal / 2);
				text-align: left;
				text-transform: uppercase;
			}
			.dropdown .btn,
			.dropup .btn,
			input {
				padding-left: ceil(@padding-base-horizontal / 1.5);
			}
			.input-group-addon {
				cursor: pointer;
				text-align: right;
			}
			button[type="Submit"] {
				background-color: #D25B42;
				color: #fff;
				font-size: 0.8em;
				text-align: center;
			}
			i {
				color: #777;
				&:before {
					content: url('../images/roost_widget_icon_15x15px.png') !important;
				}
			}
			.dropdown,
			.dropup {
				.btn {
					text-align: right;
					span {
						float: left;
						&.caret {
							border-bottom: 0;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-top: 6px solid;
							float: none;
						}
					}
				}
				ul {
					-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
					border-left: 0;
					box-shadow: 0 6px 12px rgba(0,0,0,.175);
					font-size: 12px;
					&:before {
						border-bottom-color: rgba(0, 0, 0, 0.2);
						border-bottom: 7px solid #ccc;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-top: 0;
						content: '';
						display: inline-block;
						left: 6px;
						position: absolute;
					}
					&:after {
						border-bottom: 6px solid #fff;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-top: 0;
						content: '';
						display: inline-block;
						left: 7px;
						position: absolute;
					}
					background-color: fade(#fff, 90%);
					left: auto;
					min-width: 130px;
					padding: 0;
					li {
						&.footer,
						&.header {
							background-color: #fff;
							text-align: center;
						}
						&.footer {
							a {
								background-color: fade(#fff, 100%);
								border-radius: 0;
								color: #D25B42;
								cursor: pointer;
								font-size: 0.75em;
								font-weight: normal;
								margin-left: 0;
								padding: 5px;
								text-transform: uppercase;
							}
						}
						a {
							background-color: transparent;
							font-family: Helvetica, Arial, sans-serif;
							margin: 0;
							&.selectable {
								&:hover {
									span {
										background-color: fade(#D25B42, 75%);
										color: #fff;
									}
								}
								&.selected {
									span {
										background-color: #D25B42;
										color: #fff;
									}
								}
								span {
									border-radius: 100%;
									border: none;
									display: table-cell;
									height: 30px;
									padding: 5px;
									text-align: center;
									width: 30px;
								}
							}
						}
					}
				}
			}
			.dropup {
				&.open {
					ul {
						margin-bottom: -7px !important;
						&:before {
							border-bottom: 0;
							border-top: 7px solid #999;
							bottom: -7px;
						}
						&:after {
							bottom: -6px;
							border-bottom: 0;
							border-top: 6px solid #fff;
						}
					}
				}
			}
			.dropdown {
				&.open {
					ul {
						&:before {
							top: -7px;
						}
						&:after {
							top: -6px;
						}
					}
				}
			}
		}
	}
}
.datepicker {
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	-webkit-transition: none;
	background-color: fade(#fff, 90%);
	border-radius: 0;
	border-left: 0;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	opacity: 1;
	padding-bottom: 0;
	padding-top: 0;
	transition: none;
	table {
		thead {
			background-color: fade(#fff, 100%);
			tr {
				th {
					border-radius: 0;
					font-size: 0.85em;
					font-weight: normal;
					&.next,
					&.prev {
						visibility: visible !important;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					border-radius: 0%;
					&.active,
					&.selected {
						background-color: #D25B42 !important;
						border-color: #D25B42 !important;
					}
					&.range {
						background-color: transparent !important;
						color: #D25B42 !important;
					}
					&.active,
					&.range,
					&.selected,
					&.today,
					&:hover {
						border-radius: 100%;
					}
				}
			}
		}
		tfoot {
			background-color: fade(#fff, 100%);
			tr {
				th {
					border-radius: 0;
					color: #D25B42;
					font-size: 0.75em;
					font-weight: normal;
					text-transform: uppercase;
				}
			}
		}
	}
	// @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	// 	min-width: 275px;
	// }
	// @media (max-width: @screen-xs-max) {
	// 	min-width: 220px;
	// 	width: 80%;
	// }
	table {
		width: 100%;
	}
}
