
@import "../bower_components/bootstrap-datepicker/build/build3.less";

@grid-gutter-width:         30px;
@padding-base-horizontal:   12px;
@padding-base-vertical:     6px;
@screen-md:                 992px;
@screen-md-min:              @screen-md;
@screen-sm:                 768px;
@screen-sm-min:              @screen-sm;
@screen-sm-max:             (@screen-md-min - 1);
@screen-xs-max:             (@screen-sm-min - 1);

.form-datepicker {
	margin-bottom: (@grid-gutter-width / 2);
	margin-top: (@grid-gutter-width / 2);
	.form-group {
		> div {
			padding: (@grid-gutter-width / 6) (@grid-gutter-width / 4);
			input,
			select,
			.input-group-addon {
				background-color: transparent;
				border-radius: 0;
				border: 0;
				text-transform: lowercase;
			}
			input[type="text"],
			select,
			.input-group-addon {
				border-bottom: 1px solid @input-border;
				box-shadow: none;
				padding: @padding-base-vertical (@padding-base-horizontal / 2);
				text-align: left;
			}
			input[type="submit"] {
				background-color: #405766;
				color: #fff;
			}
			i {
				color: #405766;
			}
		}
	}
}
.datepicker {
	border-radius: 0;
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		min-width: 220px;
		width: 97.5%;
	}
	@media (max-width: @screen-xs-max) {
		min-width: 220px;
		width: 95%;
	}
	table {
		width: 100%;
	}
}
